* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

h2 {
    text-transform: uppercase;
}

section.quienesSomos i, p {
    color: #fff;
}

section.quienesSomos p {
    text-align: justify;
    margin-bottom: 0;
}

.icono {
    font-size: 1.5rem;
}

.altoImagenTarjeta {
    height: 40%;
}

.colorFondoCeleste {
    background-color: #0dc9f0;
}

.margenIzquierda {
    margin-left: 6rem;
}
